h1{
	color:blue;
	font-family: Arial;
}


.clase{
	width: 50%;
	margin: auto;
	border: 2px solid black;
}

#identificador{
	background-color: cyan;
	color: blueviolet;
	height: 100px
}